#gist-list {
  margin: 0;
  padding: 0;
}

#loading-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.5rem;
    color: gray;
    padding-left: 1rem;
  }
}
